@import url('https://fonts.googleapis.com/css?family=Audiowide');

html {
  font-family: audiowide;
}

body {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

h1 {
  color: #cdcdcd;
  text-decoration: underline;
  text-shadow: 1px 1px #525252;
}

/*! START - <fieldset> */

fieldset {
  background-color: #cdcdcd;
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 2rem;
  border: 1px solid #cdcdcd;
  border-radius: 12px;
  box-shadow: 5px 5px 0.1px #525252;
}


fieldset > * {
  transition: 0.6s;
  outline: none;
  padding: .5rem;
  border-radius: 12px;
}

/*! START - <label> */

fieldset > label {
  margin-top: 2rem;
  border-top: 2.5px solid #1a1a1a;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 1px 1px #1a1a1a;
  text-decoration: underline;
}

fieldset > input:focus {
  transition: 0.6s  ;
  box-shadow: 2px 2px #1a1a1a;
}

#notes {
  transition: none;
}

[for="gold"] {
  margin-top: 0;
  border-top: 0;
  text-decoration-color: gold;
}

[for="bc"] {
  text-decoration-color: #5059C6;
}

::placeholder {
  font-family: audiowide;
  opacity: 0.5;
}

/*! START - <input> */

fieldset > input {
  text-align: center;
  border: 1px solid #cdcdcd;
}

fieldset > input:hover {
  transition: 0.6s;
  box-shadow: 2px 2px #1a1a1a;
}

#auction {
  border-bottom: 1px solid #1a1a1a;
}

path {
  margin-top: 2rem;
  border-bottom: 0.5px solid #1a1a1a;
  border-radius: 0;
}

/*! START - button */

#btn {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: audiowide;
  border: 1px solid #1a1a1a;
  border-radius: 20px 20px 4px 4px;
}

#btn:hover {
  transition: 0.8s;
  box-shadow: 2px 2px #1a1a1a;
}

#btn:focus {
  transition: 0.8s;
  box-shadow: 2px 2px #1a1a1a;
}

/* ! START - paragraphs */

#answer {
  font-size: 2rem;
  color: #cdcdcd;
}

#worth {
  text-decoration: underline;
  font-size: 2rem;
  color: #cdcdcd;
}

.gold {
  text-decoration: underline;
  text-decoration-color: gold;
  color: gold;
}

.crystals {
  text-decoration: underline;
  text-decoration-color: #5059C6;

  color: #5059C6;
}