@import url('https://fonts.googleapis.com/css?family=Audiowide');

html {
  font-family: audiowide;
  /* display: flex; */

}

body {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13rem;
}

h1 {
  color: #cdcdcd;
  text-decoration: underline;
  text-shadow: 1px 1px #525252;
}

fieldset {
  background-color: #cdcdcd;
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 2rem;
  border: 1px solid #cdcdcd;
  border-radius: 12px;
  box-shadow: 6px 6px #525252;

}


fieldset > * {
  padding: .5rem;
  border-radius: 12px;
}

fieldset > label {
  margin-top: 2rem;
  border-top: 1px solid #1a1a1a;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 1px 1px #1a1a1a;
  text-decoration: underline;
}

[for="gold"] {
  margin-top: 0;
  border-top: 0;
  text-decoration-color: gold;
}

[for="bc"] {
  text-decoration-color: #5059C6;
}

[for="auction"] {
  text-shadow: 1px 1px #a1a1a1;
}

fieldset > input {
  text-align: center;
  border: 1px solid #cdcdcd;
  box-shadow: 2px 2px #1a1a1a;
}

#btn {
  margin-top: 2.5rem;
  font-size: 1.2rem;
  font-family: audiowide;
  border: none;
  box-shadow: 2px 2px #1a1a1a;
}

#answer {
  color: #cdcdcd;
}

#worth {
  color: #cdcdcd;
}